<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Home Page</title>
    <style>
        table,
        th,
        td {
          padding: 10px;
          border: 1px solid black;
          border-collapse: collapse;
        }
      </style>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>User</th>
            <th>Weekly Goals</th>
            <th>Daily Goals</th>
            <th>Verify Goals</th>
            <th>Done Goals</th>
        </tr>
        </thead>
        <tbody>
            {% for goal in goals %}
            <tr>
                <td>{{ goal.user.first_name }}</td>
                
                <td>{{goal.goal_name}} {{goal.goal_id}}</td> 
                <td></td> 
                <td></td> 
                <td></td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>