<form method="POST">
    {% csrf_token %}
    
    {% if form.errors %}
        <p>Invalid login credentials</p>
    {% endif %}
        
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="Log In">
</form>
<a href="{% url 'home' %}">Go to homepage</a>