
    <p><strong>{{user}}</strong> is currently logged in</p>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Create">
</form>

<a href="{% url 'home' %}">View Homepage</a>