<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Home Page</title>
    <style>
        table,
        th,
        td {
          padding: 10px;
          border: 1px solid black;
          border-collapse: collapse;
        }
      </style>
</head>
<body>
    <p><strong>{{user}}</strong> is currently logged in</p>
    <table>
        <thead>
        <tr>
            <th>User</th>
            <th>Weekly Goals</th>
            <th>Daily Goals</th>
            <th>Verify Goals</th>
            <th>Done Goals</th>
            <th>Move Goal</th>
        </tr>
        </thead>
        <tbody>
            {% for object in users %}
            <tr>
                {% for obj in object.user.all %}
                <td>{{ object }}</td>
                <td>
                    {% if obj.goal_status == weekly_goal %}
                    {{obj}}, {{obj.goal_id}} 
                    {% endif %}
                </td>
                <td>
                    {% if obj.goal_status == daily_goal %}
                    {{obj}}, {{obj.goal_id}}
                    {% endif %}
                </td>
                <td>
                    {% if obj.goal_status == verify_goal %}
                    {{obj}}, {{obj.goal_id}}
                    {% endif %}
                </td>
                <td>
                    {% if obj.goal_status == done_goal %}
                    {{obj}}, {{obj.goal_id}}
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'move_goal' obj.goal_id %}">Click here to move goal</a>
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_goal' %}">Add Goal</a>
</body>
</html>


<!--  -->

