<p>Currently signed in as <strong>{{user}}</strong> </p>

<p>You are about to change the goal status of <strong>{{goal}}</strong></p>
<small>Current goal status: <strong>{{goal.goal_status}}</strong> </small>

<form method="POST" style="margin-top: 10px;">
    {% csrf_token %}
    <select name="form">
        {% for status in goal_status %}
        <option value="{{status.id}}">{{status}}</option>
        {% endfor %}  
    </select>
    <input type="submit" value="Change">
</form>